<div id="home">
    <br>
    <button><strong>↑ Games ↑</strong></button>
    <br>
    <h3><strong> <span id="clock-time">{{time}}</span></strong></h3>
    <h4><strong> <span id="clock-date">{{date}}</span></strong></h4>
    <br>
    <button><strong>↓ Rewards ↓</strong></button>

</div>
