<div> Quizzes </div>
<ul style="list-style: none;"> 1. Which of these animals is not in the feline family?
    <li id="A">A. Tiger</li>
    <li>B. Leopard</li>
    <li>C. Hyena</li>
    <li>D. Jaguar</li>
<ul>

