<div id="rewards">
  <h1>Rewards</h1>
  <div id="S">
    <p>S</p>
    <div id="stars">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
    </div>
    <img id="trophy" src = " ">
  </div>
  <div id="T">
    <p>T</p>
    <div id="stars">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
    </div>
    <img id="trophy" src = " ">
  </div>
  <div id="E">
    <p>E</p>
    <div id="stars">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
    </div>
    <img id="trophy" src = " ">
  </div>
  <div id="M">
    <p>M</p>
    <div id="stars">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        <img src = " ">
        </div>
    <img id="trophy" src = " ">
  </div>
</div>
