<div id="home">


  <h1>Rewards</h1>
  <div id = "stars">
    <img src="{{starBlue}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" />
  </div>
  <br>
  <div id = "trophy">
     <img src="{{trophy}}" width="70" height="70" alt="" />
     <h2> x5 </h2>
  </div>

 </div>
{{!--
<div id="rewards">
  <h1>Rewards</h1>
    <div id="stars">
        <img src = " ">
        <img src = " ">
        <img src = " ">
    </div>
    <div>
      <img id="trophy" src = " ">
      <p id="numTrophys"></p>
    </div>
</div> --}}
